<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buscador de usuario de Github</title>
</head>
<body>
  <h1>Bienvenido al buscador de usuarios de Github. 
    <br>Ingrese el usuario que desea buscar:</h1>
  <form action="users" method="post">
  <input type="text" name="username" id="user" placeholder="Ingresa el usuario" required>
  <button type="submit" value="search">Buscar</button>
  </form>
</body>
</html>